In [ ]:
#1question1
s="hi there class"
l=s.split()
print(l)

In [ ]:
#1question2
planet="earth"
diameter="12742"
print(" the diameter of {} is {} kilometers".format(planet,diameter))

In [8]:
#1question3
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0])

hello

In [ ]:
#1question4
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

In [ ]:
#1question5
s="user@domain.com"
domain=s[s.index('@')+1 : ]
print(domain)

In [ ]:
#1question6
k="i love dogs"
l="i love cats"
def findword(sen,word):
    s=sen.split(" ")
    for i in s:
        if (i==word):
            return True
    return False
word="dogs"
if(findword(k,word)):
    print("for k :yes")
else:
    print("for k :no")
if(findword(l,word)):
    print("for l :yes")
else:
    print("for l :no")

In [ ]:
#1question7
k="i love dogs. dogs are cute and loyal animals"
def countword(sen,word):
    a=0
    s=sen.split()
    for i in s:
        if i==word:
            a+=1
    return a

w="dogs"
print(countword(k,w))

#print(a)
k.count("dogs")

1

2

In [ ]:
#1question8
seq = ['soup','dog','salad','cat','great']
result=list(filter(lambda test: test[0]=="s",seq))
print(result)

In [1]:
#1question9
def speedingChallan(speed, isBirthday):
  if isBirthday:
    speeding=speed-5
  else:
    speeding=speed
  if speeding<=60:
    print('No Challan')
  elif speeding>60 and speeding<=80:
    print('Small Challan')
  elif speeding>80:
    print('Heavy Challan')
speedingChallan(81, True)
speedingChallan(81, False)
speedingChallan(50, False)

Small Challan
Heavy Challan
No Challan

In [6]:
#1question10
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
concate=[i+j for i,j in zip(list1,list2)]
print(concate)

['My', 'name', 'is', 'Shelly']

In [7]:
#1question11
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
concate=[]
for i in list1:
  for j in list2:
    concate.append(i+j)
print(concate)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [11]:
#1question12
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [13]:
#1question13
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
  if(i==20):
    list1.remove(i)
print(list1)

[5, 15, 25, 50]

In [14]:
#1question14
d1 = {'a': 100, 'b': 200, 'c': 300}
val=list(d1.values())
for i in val:
  if (i==200):
    print("value exits")
    break

value exits

In [19]:
#1question15
n=int(input("plz enter the number of terms: "))
k=0
q=0
for i in range(n):
  q=2*pow(10,i-1)+q
  k=k+(2*pow(10,i)+q)
print(k)

plz enter the number of terms: 4
2468.7999999999997

***END OF ASSIGNMENT 1***